/*   . para class    # para id  .... align es vertical, justify horizontal */
body{
    width: 100%;
    margin: 0;
    overflow: auto;
}
h1.titulo{
    color: rgb(255, 233, 88);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: calc(5vh + 5vw);
    margin-top: 3%;
    margin-bottom: 5%;   
    text-align: center;
    font-family: 'Fuente1', sans-serif; /* Utiliza 'sans-serif' como respaldo en caso de que la fuente personalizada no esté disponible */
}
h2{
    font-family: 'Fuente3', sans-serif;
    color:#fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: calc(2vh + 2vw);
}
h2.Cont1{
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    grid-column: EleccionH2;
}
h2.Cont2{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: calc(2vh + 1vw);
}

/*ESTRUCTURA GENERAL*/
.ContenidoGeneral{
    display: flex;
    flex-direction: column;
}
/*BARRA SUPERIOR*/
#BarraSuperior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1vh 1vw;
    width: 100%;
    height: 6%;
    box-sizing: border-box;
}
#SilenciarMusica{
    height: 20px;
    width: 150px;
    justify-content: center;
    background-color: #ffffff;
}
#HOME{
    margin-left: auto; /* Alinea el botón "HOME" hacia la derecha */
    color: white;
    background-color: #333;
    padding: 0.4vh 0.5vw;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fuente1';
    src: url('../fonts/pocket-monk-font/PocketMonk-15ze.ttf') format('truetype');
    /* Agrega más formatos según sea necesario, como .ttf, .otf, etc. */
}
@font-face {
font-family: 'Fuente2';
src: url('../fonts/sugar-bomb-font/SugarBomb-EapEW.ttf') format('truetype');
/* Agrega más formatos según sea necesario, como .ttf, .otf, etc. */
}
@font-face {
font-family: 'Fuente3';
src: url('../fonts/geneva-01-font/Geneva01-6YX1M.ttf') format('truetype');
src: url('../fonts/geneva-01-font/Geneva01-yw6gq.otf') format('opentype');
/* Agrega más formatos según sea necesario, como .ttf, .otf, etc. */
}
@font-face {
font-family: 'Fuente4';
src: url('../fonts/globe-font/PressStart2P-vaV7.ttf') format('truetype');
/* Agrega más formatos según sea necesario, como .ttf, .otf, etc. */
}
/*ESTRUCTURA CONTENIDO BODY*/
.Contenido{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "Columna1 Titulo Columna2"
        "Columna1 Central Columna2"
    ;
    gap: 5px;
    height: 100%;
    min-height: 100vh;
}
.Contenido.Cont1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Fondo1.jpg);
}
.Contenido.Cont2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/forest.jpg);
}
.Contenido header{
    grid-area: Titulo;

}
.Contenido aside.Columna1{
    grid-area: Columna1;
    display: grid;
    
}
.Contenido main{
    grid-area: Central;
}
.Contenido aside.Columna2{
    grid-area: Columna2;
    display: grid;
}
.Contenido aside.Columna2.Cont1{
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 2fr 1fr;
    min-width: 160px;
}
.Contenido aside.Columna2.Cont2{
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr min-content 1fr;
    min-width: 160px;
}

/*ESTRUCTURA CENTRAL CONT1*/
.Central.Cont1{
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 15px;

}

#Eleccion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
    font-size: calc(1vh + 1vw);
    grid-template-areas:
    "EleccionH2 EleccionH2 EleccionH2"
    "imagen1 imagen2 imagen3"
    "nombre1 nombre2 nombre3"
    ;
}
[class^="Mokepon-"]:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}
[class^="Mokepon-"]{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgb(255, 233, 88, 0.7), rgba(0, 0, 0, 0));
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
[class^="Mokepon-"] img{
    width: 90%;
    height: 90%;
    object-fit: contain;
 }

.inputs1{
    display: none;
}
[class^="Descrip-"] {
    font-family: 'Fuente2', sans-serif;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
}
[class^="Descrip-"] img{
     width: 11.16%; /* Ancho deseado */
     height: 89.6%; /* Alto deseado */
}
.Mokepon-1 { 
    grid-area: imagen1;
}
.Mokepon-2 { 
    grid-area: imagen2;
}
.Mokepon-3 { 
    grid-area: imagen3;
}
.Descrip-1 {
    grid-area: nombre1;
}
.Descrip-2 {
    grid-area: nombre2;
}
.Descrip-3 {
    grid-area: nombre3;
}

#Boton-Seleccionar{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    font-family: 'Fuente3', sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
}
#Boton-Seleccionar:not(:disabled){
    cursor: pointer;
    background: linear-gradient(-45deg, #3cf0c5 0%, #c8ff3d 20%, #e6d341 50%, #c8ff3d 80%, #3cf0c5 100%, #3cf0c5 100.1%);
    background-size: 200% 100%; /* Ajusta el tamaño del fondo para que sea el doble del ancho */
    animation: gradientMove 3s linear infinite;
}
#Boton-Seleccionar:not(:disabled):hover{
    transform: scale(1.1);
}

@keyframes gradientMove {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
#SeleccionarAlerta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    gap: 10px;
}
#miAlerta {
    display: none;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    font-family: 'Fuente3', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    width: 150px; /* Puedes ajustar el valor según tus necesidades */
    height: auto;
}

#miAlerta.verde {
    background-color: #307732; /* Verde */
}

#miAlerta.rojo {
    background-color: #f44336; /* Rojo */
}
/* ASIDE 1 CONT1 */
#Msj_Sistema_Cont1 {
    max-width: 80%;
    margin-left: 4%;
}
#Msj_Sistema_Cont1 h2{
    font-size: calc(1vh + 0.8vw);
    margin-left: 3px;
}
.Contenedor_MsjSistema{
    margin-top: 23vh;
}
#MsjSistema_Cont1{
    min-height: 20vh;
    background: radial-gradient(rgb(37, 37, 37), rgb(0, 0, 0));
    padding: 8px 8px 8px 10px;
    font-family: 'Fuente3', san-serif;
    color: #fff;
    font-size: calc(0.8vh + 0.8vw);
}
#MsjSistema_Cont1 p{
    width: 100%;
}
#MsjSistema_Cont1 span{
    color: #c42d2d;
}
#SeleccJG{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ASIDE 1 CONT2 */
#Msj_Sistema_Cont2 {
    max-width: 80%;
    margin-left: 4%;
}
#Msj_Sistema_Cont2 h2{
    font-size: calc(1vh + 0.8vw);
    margin-left: 3px;
}

#MsjSistema_Cont2{
    min-height: 20vh;
    background: radial-gradient(rgb(37, 37, 37), rgb(0, 0, 0));
    padding: 8px 8px 8px 10px;
    font-family: 'Fuente3', san-serif;
    font-size: calc(0.8vh + 0.6vw);
}
#MsjSistema_Cont2 p{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
p.jugador{
    color: #5bc25b; 
}
p.pc{
    color: #be3c38; 
}
/* ASIDE 2 CONT1 */
#Introduccion {
    background-image: url('../images/pokedexbubble.png'); /* Reemplaza con la ruta de tu imagen */
    height: 80%;
    max-width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    grid-row-start: 2;
    justify-self: center; /* Centra horizontalmente */
}
.Content{
    padding-top: 25%;
    padding-left: 20%;
    padding-right: 13%;
}

.Content p.titulo {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    color: #505050; /* Color del texto, ajusta según tus necesidades */
    font-family: 'Fuente3', sans-serif;
    font-size: calc(0.8vh + 1.8vw); /* Tamaño del texto, ajusta según tus necesidades */
    text-align: center;

}
.Content p.main {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    color: #505050; /* Color del texto, ajusta según tus necesidades */
    font-family: 'Fuente3', sans-serif;
    font-size: calc(0.5vh + 1vw); /* Tamaño del texto, ajusta según tus necesidades */
    text-align: center;
    margin-top: 10px;
}

/*ESTRUCTURA CENTRAL CONT2*/
.Central.Cont2{
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 15px;

}
#Mokepones-Seleccionados{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.Seleccionado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 67%;
    max-width: 70%;
    justify-self: center;
    
}

.Seleccionado.JG{
    grid-row: 2/4;
}
.Seleccionado.PC{
    grid-row: 1/3;
}
.VS {
    font-size: calc(2vh + 2vw);
    color: #f44336;
    font-family: 'Fuente2', sans-serif;
    -webkit-text-stroke: 2px rgb(255, 253, 253);
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;

}

.Nombre {
    font-family: 'Fuente3', sans-serif;
    background-color: aliceblue;
    border-radius: 15%;
    padding: 1%;
    box-sizing: border-box;
}
.Nombre.JG {
    color: #0d9d14;
}
.Nombre.PC {
    color: #f44336;
}
.BasePoke {
    background-image: url(../images/BasePokes.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 40%;
}
.BasePoke img {
    padding: 5%;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
.Moke-HP{
    display: block;
    font-family: 'Fuente3', sans-serif;
    color: #ffffff;
    font-size: calc(1vh + 0.5vw);
    background-color: crimson;
    height: 16%;
    padding: 4%;
    border-radius: 15%;
    box-sizing: border-box;
}
.BotonesAtaque{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
#Ataques{
    margin-bottom: 30px;
}
#Historial{
    grid-row-start: 2;
    display: grid;
    grid-template-rows: auto auto;
} 
.HistorialTexto{
    background-image: url(../images/globomokewhite.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    justify-items: center;
}
#MensajesContainer {
    overflow-y: auto;
    width: 83%;
    height: 20vw;
    max-height: 81%;
    margin-top: 9%;
}

#MensajesContainer p {
    margin: 0;
    font-size: calc(0.8vh + 0.3vw);
    padding: 2% ;
    color: #000000;
    font-family: 'Fuente4', sans-serif;
    border-bottom: 1px solid #6c6c6c;
}
#MensajesContainer p.turnoJG {
    color: green;
    font-weight: bold;
    border-bottom: none;
    text-align: center;
    font-size: calc(0.9vh + 0.3vw);
}
#MensajesContainer p.turnoPC {
    color: red;
    font-weight: bold;
    border-bottom: none;
    text-align: center;
    font-size: calc(0.9vh + 0.3vw);
} 

#Reiniciar{
    justify-content: center;
    display: flex;
}


/*Animacion botones de Ataque Contenido2*/
.BOTONATAQUE {
    width: fit-content;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Fuente3',sans-serif;
    font-size: calc(1.2vh + 0.8vw);
}
.BOTONATAQUE:disabled {
    opacity: 0.7; /* Puedes ajustar la opacidad según tus preferencias */
    cursor: not-allowed;
    background: #505050;
    color: #fff; /* Ajusta el color de texto cuando está deshabilitado */
}

.BOTONATAQUE:disabled:before {
    opacity: 0; /* Evita la animación cuando está deshabilitado */
}

.BOTONATAQUE:not(:disabled):before{
    background: linear-gradient(45deg, var(--gradient-colors));
    content: '';
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.BOTONATAQUE.fuego:not(:disabled) {
    background: #e99b26;
    --gradient-colors: #ff0000, #ff7300, #f0c442, #ff0000;
}

.BOTONATAQUE.agua:not(:disabled) {
    background: #259fcf;
    --gradient-colors: #2b59f0, #00a6ff, #24c4f0, #2b59f0;
}

.BOTONATAQUE.planta:not(:disabled) {
    background: #2c9b1b;
    --gradient-colors: #067016, #1cc14b, #4ccf57, #067016;
}

.BOTONATAQUE:not(:disabled):active {
    color: #000000
}

.BOTONATAQUE:not(:disabled):active:after {
    background: transparent;
}

.BOTONATAQUE:not(:disabled):hover:before {
    opacity: 1;
}

.BOTONATAQUE:not(:disabled):after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media (max-width: 900px){
    #Eleccion{
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: min-content repeat(3, 130px 30px);
        grid-template-areas:
        "EleccionH2"
        "imagen1"
        "nombre1"
        "imagen2"
        "nombre2"
        "imagen3"
        "nombre3"
        ;
    }
    [class^="Mokepon-"]{
        max-width: 45%;
        justify-self: center;
    }
    [class^="Descrip-"]{
        margin-top: 10px;
    }
    [class^="Descrip-"] img{
        width: auto; /* Ancho deseado */
        height: 100%; /* Alto deseado */
    }
    .Content{
        padding-left: 15%;
        padding-right: 8%;
    }
    .Contenido.Cont2{
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "Titulo"
            "Central" 
            "Columna2"
        ;
    }
    .Contenido aside.Columna1.Cont2{
        display: none;
        
    }
    .Contenido aside.Columna2.Cont2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        min-width: none;
        width: auto;
        height: auto;
        justify-self: center;
        
    }
    h1.titulo.Cont2{
        margin-bottom: 3%;
    }
    #Mokepones-Seleccionados{
        width: 80%;
        justify-self: center;
    }
    #Historial{
        grid-row-start: 1;
        margin-top: 4%;
    }
    .HistorialTexto{
        height: 50vw;
        max-height: 44vh;
    }
    #MensajesContainer{
        overflow-y: auto;
        width: 65%;
        max-width: 70vw;
        height: 100%;
        max-height: 81%;
        margin-top: 7%;
    }

}